<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="gopherFileMappings" type="GopherServer.Core.Configuration.ExtensionMappingConfigSection, GopherServer.Core" />
  </configSections>
  <appSettings>
    <!-- What Address should the server listen on? -->
    <add key="boundIP" value="127.0.0.1" />
    <add key="boundPort" value="70" />
    
    <!-- What hostname details should be included in the directory listings? -->
    <add key="publicHostname" value="127.0.0.1" />
    <add key="publicPort" value="70" />
    
    <!-- Resize the images? Useful for small memory machines, might hammer your server -->
    <add key="resizeImages" value="true" />
    <add key="maximumWidth" value="512" />
    <add key="maximumHeight" value="512" />
    
    <!-- Resample Images. Uses more memory
        Eg if your target only has b/w or 16 color displays you may want
        to enable this
    -->
    <add key="resampleImages" value="false" />
    <!-- Options are 1, 4, 8 -->
    <add key="maximumBitDepth" value="4" />

    <!-- Provider to use. Just the assembly name, it's assumed each only has a single provider -->
   
    <!-- <add key="providerName" value="GopherServer.Providers.WpJson" /> -->
    <!-- <add key="WordPressProvider.Url" value="https://virtuallyfun.superglobalmegacorp.com/wp-json/wp/v2" /> -->

    <!-- <add key="providerName" value="GopherServer.Providers.MacintoshGarden" /> -->

    <add key="providerName" value="GopherServer.Providers.FileProvider" />
    <add key="FileProvider.RootDirectory" value="/path/to/your/gopher/hole/"/>

    <!-- <add key="providerName" value="GopherServer.Providers.Rss" /> -->
    
    <!-- Temporary Provider Specific Configuration -->
    <!-- TODO: each provider should be able to define their own config options -->
  </appSettings>
  <gopherFileMappings>
    <!-- add your file mappings here! -->
    <!-- Common text file formats, most others will be treated as binary -->
    <add fileExtension=".txt" gopherType="FILE" />
    <add fileExtension=".diz" gopherType="FILE" />
    <add fileExtension=".nfo" gopherType="FILE" />
    <!-- eg read.me -->
    <add fileExtension=".me" gopherType="FILE" />
    <!-- eg readme.1st -->
    <add fileExtension=".1st" gopherType="FILE" />
    <add fileExtension=".readme" gopherType="FILE" />
    <add fileExtension=".log" gopherType="FILE" />
    <add fileExtension=".pdf" gopherType="DOC" />
    <add fileExtension=".doc" gopherType="DOC" />
    <add fileExtension=".wps" gopherType="DOC" />
    <add fileExtension=".docx" gopherType="DOC" />
    <add fileExtension=".wp" gopherType="DOC" />
    <add fileExtension=".wpd" gopherType="DOC" />
    <add fileExtension=".wp7" gopherType="DOC" />
    <add fileExtension=".wp6" gopherType="DOC" />
    <add fileExtension=".wp5" gopherType="DOC" />
    <add fileExtension=".wp4" gopherType="DOC" />
    
    <!-- Images -->
    <add fileExtension=".gif" gopherType="GIF" />    
    <add fileExtension=".tif" gopherType="IMAGE" />
    <add fileExtension=".tiff" gopherType="IMAGE" />  
    <add fileExtension=".jpg" gopherType="IMAGE" />
    <add fileExtension=".jpeg" gopherType="IMAGE" />
    <add fileExtension=".jpe" gopherType="IMAGE" />    
    <add fileExtension=".jp2" gopherType="IMAGE" />
    <add fileExtension=".j2k" gopherType="IMAGE" />    
    <add fileExtension=".png" gopherType="IMAGE" />    
    <add fileExtension=".bmp" gopherType="IMAGE" />
    <add fileExtension=".pcx" gopherType="IMAGE" />
    <add fileExtension=".dib" gopherType="IMAGE" />
    <add fileExtension=".tga" gopherType="IMAGE" />
    <add fileExtension=".img" gopherType="IMAGE" />
    <add fileExtension=".psd" gopherType="IMAGE" />
    <add fileExtension=".pic" gopherType="IMAGE" />
    <add fileExtension=".pict" gopherType="IMAGE" />
    <add fileExtension=".wmf" gopherType="IMAGE" />
    <add fileExtension=".emf" gopherType="IMAGE" />
    <add fileExtension=".eps" gopherType="IMAGE" />
    <add fileExtension=".svg" gopherType="IMAGE" />
    
    <add fileExtension=".exe" gopherType="BINARY" />
    
    <add fileExtension=".zip" gopherType="DOSARCHIVE" />
    <add fileExtension=".rar" gopherType="DOSARCHIVE" />
    <add fileExtension=".7z" gopherType="DOSARCHIVE" />
    
    <!-- mac file formats we might find -->
    <add fileExtension=".sit" gopherType="BINARY" />
    <add fileExtension=".bin" gopherType="BINARY" />
    <add fileExtension=".hqx" gopherType="BINHEX" />
    <add fileExtension=".sea" gopherType="BINARY" />
    
    <!-- Html -->
    <add fileExtension=".htm" gopherType="HTML" />
    <add fileExtension=".html" gopherType="HTML" />
    
    <!-- audio formats -->
    <add fileExtension=".au" gopherType="AUDIO" />
    <add fileExtension=".aif" gopherType="AUDIO" />
    <add fileExtension=".aiff" gopherType="AUDIO" />
    <add fileExtension=".snd" gopherType="AUDIO" />
    <add fileExtension=".wav" gopherType="AUDIO" />
    <add fileExtension=".ra" gopherType="AUDIO" />
    <add fileExtension=".mp3" gopherType="AUDIO" />
    <add fileExtension=".ogg" gopherType="AUDIO" />
    <add fileExtension=".oga" gopherType="AUDIO" />
    <add fileExtension=".opus" gopherType="AUDIO" />
    <add fileExtension=".mid" gopherType="AUDIO" />
    <add fileExtension=".rmi" gopherType="AUDIO" />    
  </gopherFileMappings>
</configuration>