<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="gopherFileMappings" type="GopherServer.Configuration.ExtensionMappingConfigSection, GopherServer" />
  </configSections>
  <appSettings>
    <!-- What Address should the server listen on? -->
    <add key="boundIP" value="192.168.0.116" />
    <add key="boundPort" value="70" />
    
    <!-- What hostname details should be included in the directory listings? -->
    <add key="publicHostname" value="192.168.0.116" />
    <add key="publicPort" value="70" />
    
    <!-- Resize the images? Useful for small memory machines, might hammer your server -->
    <add key="resizeImages" value="true" />
    <add key="maximumWidth" value="512" />
    <add key="maximumHeight" value="512" />
    
    <!-- Resample Images. Uses more memory
        Eg if your target only has b/w or 16 color displays you may want
        to enable this
    -->
    <add key="resampleImages" value="false" />
    <!-- Options are 1, 4, 8 -->
    <add key="maximumBitDepth" value="4" />

    <!-- Provider to use. Just the assembly name, it's assumed each only has a single provider -->
   
    <!-- Uncomment for WpJson -->
    <!-- <add key="providerName" value="GopherServer.Providers.WpJson" /> -->

    <!--<add key="providerName" value="GopherServer.Providers.Rss" />-->

    <!--<add key="providerName" value="GopherServer.Providers.MacintoshGarden" />-->

    <add key="providerName" value="GopherServer.Providers.FileProvider" />
    
    <!-- Temporary Provider Specific Configuration -->
    <!-- TODO: each provider should be able to define their own config options -->
    <add key="WordPressProvider.Url" value="https://virtuallyfun.superglobalmegacorp.com/wp-json/wp/v2" />
  </appSettings>
  <gopherFileMappings>
    <!-- add your file mappings here! -->
    <add fileExtension=".txt" gopherType="FILE" />
    <add fileExtension=".gif" gopherType="GIF" />
    <add fileExtension=".htm" gopherType="HTML" />
    <add fileExtension=".html" gopherType="HTML" />
    <add fileExtension=".au" gopherType="AUDIO" />
    <add fileExtension=".aif" gopherType="AUDIO" />
    <add fileExtension=".aiff" gopherType="AUDIO" />
    <add fileExtension=".snd" gopherType="AUDIO" />
    <add fileExtension=".wav" gopherType="AUDIO" />
    <add fileExtension=".ra" gopherType="AUDIO" />
    <add fileExtension=".mp3" gopherType="AUDIO" />
    <add fileExtension=".ogg" gopherType="AUDIO" />
    <add fileExtension=".mid" gopherType="AUDIO" />
  </gopherFileMappings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>